
#car{
    .myCar{
        color: #333;
        .car_title{
            height: 31px;
            line-height:31px;
            font-weight: 700;
            overflow: hidden;
            span{
                display: inline-block;
                color: #444;
                font-size: 18px;
                &.car_item_num{
                    margin-left: 10px;
                    padding: 0 .8%;
                    line-height: 18px;
                    font-size: 14px;
                    border: solid 1px #e4393c;
                    color: #e4393c;
                }
            }
        }
        .car_list{
            margin-top: 10px;
            border: 1px solid #ccc;
            .w818{
                width: 8.18%;
            }
            .w245{
                width: 24.5%;
            }
            .w1636{
                width: 16.36%;
            }
            .car_list_top{
                height: 40px;
                line-height: 40px;
                border-bottom: solid 1px #ccc;
                padding-left: 34px;
                padding-right: 10px;
                span{
                    display: inline-block;
                    &.car_list_name{
                        padding-left: 20px;
                    }
                    &.car_list_sx,&.car_list_cz,&.car_list_dj,&.car_list_qty,&.car_list_xj{
                        text-align: center;
                    }
                }
            }
            ul{
                // min-height: 160px;
                li{
                    border-bottom: solid 1px #ccc;
                    padding-left: 34px;
                    padding-right: 10px;
                    &.car_item_li{
                        border-bottom: dotted 1px #ccc;
                        color: #333;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        .car_item_img{
                            width: 102px;
                            height: 102px;
                            margin: 3px;
                            border: 1px solid #ccc;
                            float: left;
                            img{
                                width: 100px;
                                height: 100px;
                                margin: 0 auto;
                            }
                        }
                        .car_item_xq{
                            width: 170px;
                            float: left;
                            padding: 1.5px 0 0 8.8px;
                            line-height: 1.8em;
                            .car_item_gj{
                                width: 144px;
                                margin-top: 2.5px;
                                text-align: center;
                                background: #ec5766;
                                color: #fff;
                            }
                        }
                        .item_sx{
                            min-height: 100px;
                            float: left;
                        }
                        .item_price{
                            float: left;
                            font-size: 1.3em;
                            text-align: center;
                            font-weight: bold;
                            margin-top: 12px;
                            padding-left: 38px;
                        }
                        .item_qty{
                            float: left;
                            padding-left: 64px;
                            margin-top: 11px;
                            .item_qty_less,.item_qty_more{
                                display: inline-block;
                                width: 25px;
                                height: 25px;
                                line-height: 25px;
                                border: 1px solid #d9d9d9;
                                background: #f7f7f7;
                                cursor: pointer;
                                float: left;
                                text-align: center;
                                font-size: 14px;
                            }
                            .item_qty_txt{
                                width: 38px;
                                height: 25px;
                                line-height: 17px;
                                padding: 4px 5px;
                                border-top: 1px solid #d9d9d9;
                                border-bottom: 1px solid #d9d9d9;
                                float: left;
                                text-align: center;
                                color: #565656;
                                font-size: 14px;
                            }
                        }
                        .item_xj_price{
                            float: left;
                            font-size: 1.3em;
                            text-align: center;
                            font-weight: bold;
                            margin-top: 12px;
                            color: #ff2f00;
                            padding-left: 45px;
                        }
                        .del_item{
                            float: left;
                            margin-top: 10px;
                            text-align: center;
                            padding-left: 40px;
                            span{
                                display: inline-block;
                                opacity: .5;
                                cursor: pointer;
                                font-size: 19px;
                                &:hover{
                                    opacity: .9;
                                }
                            }
                        }
                    }
                }
            }
            .item_anniu{
                height: 42px;
                line-height: 42px;
                border-bottom: 1px dotted #ccc;
                padding-left: 34px;
                padding-right: 10px;
                span{
                    display: inline-block;
                    &.car_list_del,&.car_list_gz{
                        cursor: pointer;
                        &:hover{
                            color: #E65051;
                        }
                    }
                    &.car_list_gz{
                        padding-left: 15px;
                    }
                }
            }
            .jiesuan_box{
                padding: 10px;
                border-bottom: dotted 1px #ccc;
                .jiesuan{
                    height: 174px;
                    padding: 30px 20px;
                    background: #fdfbf2;
                    line-height: 1.8em;
                    p{
                        text-align: right;
                        padding-bottom: 3px;
                        &.all_price{
                            color: #ff2f00;
                            font-weight: bold;
                            font-size: 16px;
                            padding-bottom: 10px;
                        }
                    }
                    .pay{
                        float: right;
                        background: #e61000;
                        color: #fff;
                        font-weight: bold;
                        padding: .8% 4%;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }
            
        }
    }
}