// body{height: 2400px;}

#head_top{
    background-color: #F1F1F1;
    // height: 240px;
    border-bottom: 1px solid #DCDCDC;
    .head_topl{
        // width: 160px;
        // height: 37px;
        &>li{
            float: left;
            position: relative;
            a{
                display: block;
                width: 80px;
                height: 37px;
                line-height: 37px;
                font-size: 12px;
                text-align: center;
                position: relative;
                i{
                    font-size: 12px;
                    padding-left: 3px;
                    color: #858585;
                }
                &.country{
                    padding-left: 6px;
                    .country_i{
                        width: 16px;
                        height: 10px;
                        display: block;
                        background: url("../img/ico-country.png") 0 -11px;
                        position: absolute;
                        top: 13px;
                        left: 0px;
                    }
                }
            }
            .country_nav{
                display: none;
                width: 92px;
                // height: 140px;
                border: 1px solid #DFDFDF;
                border-top: 0 none;
                background-color: #FFFFFF;
                position: absolute;
                left: -1px;
                top: 37px;
                a{
                    display: block;
                    height: 28px;
                    margin-left: 13px;
                    line-height: 28px;
                    font-size: 12px;
                    text-align: center;
                    position: relative;
                    i{
                        width: 16px;
                        height: 10px;
                        display: block;
                        background: url("../img/ico-country.png") 0 0;
                        position: absolute;
                        top: 9px;
                        left: 0px;
                    }
                }
                
            }
            &:hover{
                background-color: #FFFFFF;
                // border-right: 1px solid #DFDFDF;
                // border-left: 1px solid #DFDFDF;
                // margin-left: -1px;
            }
            &:hover .country_nav{
                display: block;
            }
            .h_money{
                width: 98px;
                display: none;
                border: 1px solid #DFDFDF;
                border-top: 0 none;
                background-color: #FFFFFF;
                position: absolute;
                left: -1px;
                top: 37px;
                a{
                    display: block;
                    height: 28px;
                    margin-left: 5px;
                    line-height: 28px;
                    font-size: 12px;
                    text-align: center;
                }
            }
            &:hover .h_money{
                display: block;
            }
        }
    }
    .head_topr{
        // width: 360px;
        // height: 37px;
        &>li{
            float: left;
            position: relative;
            a{
                display: block;
                height: 37px;
                line-height: 37px;
                padding-right: 12px;
                // padding-left: 8px;
                font-size: 12px;
                text-align: center;
                position: relative;
                span{
                    color: #F54248;
                }
                .login_t{
                    border-right: 1px solid #A86868;
                    padding-right: 15px;
                    padding-left: 10px;
                }
                i{
                    font-size: 8px;
                    color: #858585;
                    position: absolute;
                    top:0px;
                    left:48px;
                    &.icon-shouji{
                        font-size: 22px;
                        left:-26px;
                    }
                }
            }
            div{
                display: none;
                position: absolute;
                left: -24px;
            }
            &.erweima:hover>div{
                display: block;
            }
            &:hover span{
                text-decoration:underline;
            }
            &.t_gr_center:hover{
                background-color: #FFFFFF;
            }
            .h_dingdan{
                width: 98px;
                display: none;
                border: 1px solid #DFDFDF;
                border-top: 0 none;
                background-color: #FFFFFF;
                position: absolute;
                left: -1px;
                top: 37px;
                z-index:10;
                a{
                    display: block;
                    height: 28px;
                    margin-left: 5px;
                    line-height: 28px;
                    font-size: 12px;
                    text-align: center;
                }
            }
            &.t_gr_center:hover .h_dingdan{
                display: block;
            }
        }
    }
}

#head_bottom{
    background: #FFFFFF;
    .h_logo{
        float: left;
        width: 248px;
        height: 156px;
    }
    .head_bottom_c{
        float: left;
        width: 678px;
        // height: 156px;
        padding-left: 168px;
        // background: #995;
        .h_search_t{
            input[type=text]{
                float: left;
                width: 460px;
                height: 44px;
                margin: 0;
                margin-top: 50px;
                border:2px solid #163671;
                padding-left: 12px;
                font-size: 12px;
                color: #908277;
                line-height: 44px;
            }
            button{
                float: left;
                width: 50px;
                height: 44px;
                margin-top: 50px;
                background: #163671;
                i{
                    text-align: center;
                    font-size: 28px;
                    line-height: 44px;
                    color: #F9FFFD;
                }
            }
        }
        .h_suoyin{
            height: 62px;
            padding-top: 8px;
            li{
                float: left;
                a{
                    display: block;
                    font-size: 12px;
                    span{
                        border-right: 1px solid #7779A2;
                        padding: 0 8px;
                        color: #6A6260;
                    }
                    
                }
            }
        }
    }
    .head_bottom_r{
        display: block;
        float: right;
        // width: 124px;
        height: 44px;
        line-height: 44px;
        margin-top: 50px;
        background: #ECECEC;
        position: relative;
        i{
            display: inline-block;
            width: 37px;
            height: 36px;
            margin: 4px;
            font-size: 26px;
            line-height: 36px;
            text-align: center;
            background: #FFFFFF;
        }
        .h_qty{
            display: block;
            width: 16px;
            height: 16px;
            line-height: 16px;
            border-radius:50%;
            position: absolute;
            color: #FFF;
            background-color: #E24639;
            font-size: 14px;
            top: -6px;
            left: 14px;
            text-align: center;
        }
        p{
            float: right;
            display: inline-block;
            width: 80px;
            height: 44px;
            line-height: 44px;
            font-size: 16px;
            text-align: center;
        }
        
    }
}

#nav{
    // height: 45px;
    // background: #58bc58;
    border-bottom: 2px solid #163671;
    .fenlei{
        position: relative;
        float: left;
        cursor: pointer;
        h3{
            width: 160px;
            height: 45px;
            line-height: 45px;
            font-size: 14px;
            font-weight: 500;
            padding-left: 26px;
            color: #fff;
            background: #163672;
            text-align: center;
        }
        i{
            font-size: 20px;
            position: absolute;
            top: 14px;
            left: 25px;
            color: #fff;
        }
        .erjinav{
            width: 160px;
            background-color: rgba(22,54,114,.9);
            position: absolute;
            top:46px;
            left:0px;
            z-index: 10;
            display: none;
            >li{
                >a{
                    line-height: 40px;
                    display: block;
                    font-size: 14px;
                    text-align: center;
                    color: #f2f2f2;
                }
                .sanjinav{
                    width: 1000px;
                    // height: 520px;
                    background: #FFFFFF;
                    position: absolute;
                    padding-bottom: 180px;
                    top:0px;
                    left:160px;
                    z-index: 10;
                    display: none;
                    >li{
                        border-bottom: 1px dashed #DDDDDD;
                        // height: 40px;
                        &:after{
                            content:"";
                            display:block;
                            height:0;
                            clear:both;
                            overflow:hidden;
                            visibility:hidden;
                            zoom:1;
                        }
                        p{
                            // display: inline-block;
                            float: left;
                            width: 80px;
                            // height: 40px;
                            line-height: 40px;
                            font-size: 14px;
                            font-weight: 600;
                            margin-left: 18px;
                            margin-right: 20px;
                            // text-align: center;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        >a{
                            float: left;
                            height: 16px;
                            line-height: 16px;
                            padding: 0 8px;
                            border-right: 1px solid #e0e0e0;
                            margin-top: 12px;
                            margin-right: 2px;
                        }
                    }
                }
                &:hover{
                    background: #FFFFFF;
                }
                &:hover>a{
                    color: #333333;
                }
                &:hover .sanjinav{
                    display: block;
                }
            }
        }
        &:hover .erjinav{
            display: block;
        }
    }
    .sc_nav{
        // width: 830px;
        >li{
            float: left;
            position: relative;
            a{
                display: block;
                // width: 96px;
                height: 45px;
                padding: 0 20px;
                font-size: 14px;
                line-height: 45px;
                // color: #333029;
                span{
                    position: absolute;
                    top:-22px;
                    left:28px;
                }
            }
            ul{
                width: 100px;
                display: none;
                background-color: rgba(255,255,255,0.7);
                position: absolute;
                top:45px;
                left:0px;
                z-index: 10;
                a{
                    height: 45px;
                    line-height: 45px;
                    padding: 0 20px;
                    text-align: center;
                    display: block;
                    font-size: 14px;

                }
            }
            &:hover ul{
                display: block;
            }
        }

    }
}