#list{
    .list_cengji{
        padding: 10px 0;
        color: #333;
        i{
            font-size: 17px;
        }
        a{
            padding: 4px 0;
        }
    }
    .goods_box{
        .jieguo{
            padding-bottom: 6px;
            border-bottom: 1px solid #222;
            color: #999;
            b{
                padding: 0 5px;
                color: #666;
            }
        }
        .jiage{
            height: 44px;
            line-height: 44px;
            font-size: 14px;
            border-bottom: 1px solid #ddd;
            overflow: hidden;
            color: #333;
            span{
                display: inline-block;
                width: 60px;
                float: left;
                font-weight: 600;
            }
            a{
                padding: 3px 5px;
                margin: 0 5px;
                color: #777;
                &.active,&:hover{
                    color: #ee4242;
                    border: 1px solid #ee4242;
                    padding: 3px 4px;
                }
            }
        }
        .paixu{
            height: 44px;
            line-height: 44px;
            font-size: 14px;
            border-bottom: 1px solid #ddd;
            overflow: hidden;
            color: #333;
            .paixu_txt{
                display: inline-block;
                width: 60px;
                float: left;
                font-weight: 600;
                height: 44px;
                line-height: 44px;
            }
            span{
                padding: 3px 5px;
                margin: 0 5px;
                color: #777;
                cursor:pointer;
                i{
                    font-size: 12px;
                    margin-left: 6px;
                    font-weight: bold;
                }
                &.active,&:hover{
                    color: #ee4242;
                    border: 1px solid #ee4242;
                    padding: 3px 4px;
                }
            }
        }
        .goods_ul{
            margin: 40px 0 20px;
            min-height:310px;
            li{
                width: 233px;
                height: 300px;
                float: left;
                overflow: hidden;
                margin: 0 7px 10px 0;
                text-align: center;
                border: 1px solid #eee;
                >a{
                    display: block;
                    width: 233px;
                    height: 236px;
                    vertical-align:middle;
                    text-align: center;
                    position: relative;
                    cursor: pointer;
                    img{
                        width: 233px;
                        height: 236px;
                    }
                    .guoche_icon{
                        width: 28px;
                        height: 28px;
                        border-radius:50%;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        background: #333157;
                        i{
                            display: block;
                            font-size: 20px;
                            color: #fff;
                            margin-top: 6px;
                        }
                    }
                    
                }
                .goods_xiangqi{
                    height: 61px;
                    padding: 10px 0;
                    margin: 0 10px;
                    text-align: left;
                    font-size: 14px;
                    .good_jieshao{
                        width: 75%;
                        float: left;
                        p{
                            height: 20px;
                            white-space:nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            a{
                                // color: #777;
                            }
                            &.goods_price{
                                color: #ee4242;
                                padding-top: 3px;
                            }
                        }
                    }
                    .goods_guojia{
                        width: 22%;
                        margin-right: 2px;
                        text-align: right;
                        font-size: 12px;
                        float: right;
                        i{
                            display: block;
                            width: 18px;
                            height: 12px;
                            background: url("../img/ico-country.png") no-repeat 0 -11px;
                            margin-top: 2px;
                            margin-left: 30px;
                            border: 1px solid #ccc;
                        }
                        p{
                            height: 20px;
                            color: #bbb;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
        .goods_fenye{
            border-top: 1px solid #ddd;
            color: #fff;
            text-align: center;
            cursor: default;
            ul{
                margin: 20px 0 0;
                li{
                    width: auto;
                    float: none;
                    display: inline-block; 
                    // margin-right: 5px;
                    margin: 0 5px 10px 0;
                    text-align: center;
                    span{
                        padding: 3px 10px;
                        border: 1px solid #ddd;
                        color: #222;
                        cursor:pointer;
                        &.fenye_active,&:hover{
                            background: #ee4242;
                            border: 1px solid #ee4242;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    #to_top{
        width: 30px;
        height: 30px;
        position: fixed;
        top: 82%;
        right: 0.1%;
        background: rgba(7,7,7,.5);
        border-radius:6px;
        text-align: center;
        cursor: pointer;
        i{
            display: inline-block;
            font-size: 22px;
            color: #fff;
            margin-top: 7px;
        }
        &:hover{
            background: rgba(255,0,0,.8);
        }
    }


}