.yg_nav .all_fenlei .fenlei_nav {
  display: none;
}

.yg_nav .all_fenlei:hover .fenlei_nav {
  display: block;
}

#details .details_box .details_fenlei {
  height: 22px;
  line-height: 22px;
  margin: 3px auto;
}

#details .details_box .details_fenlei > a {
  color: #36C;
}

#details .details_box .details_fenlei > a:hover {
  color: #e60012;
}

#details .details_box .details_c {
  padding-bottom: 35px;
}

#details .details_box .details_c .details_content {
  float: left;
}

#details .details_box .details_c .details_content .img_box {
  float: left;
}

#details .details_box .details_c .details_content .img_box .big_img {
  width: 482px;
  height: 482px;
  border: 1px solid #ccc;
}

#details .details_box .details_c .details_content .img_box .big_img img {
  width: 480px;
  height: 480px;
}

#details .details_box .details_c .details_content .img_box .small_img {
  padding: 2px;
  margin-top: 12px;
  text-align: center;
}

#details .details_box .details_c .details_content .img_box .small_img img {
  width: 62px;
  height: 62px;
  border: 1px solid #ccc;
}

#details .details_box .details_c .details_content .img_box .small_img img.img_active {
  border: 1px solid #e60012;
}

#details .details_box .details_c .details_content .img_box .img_footer {
  overflow: hidden;
  padding: 8px 0;
}

#details .details_box .details_c .details_content .img_box .img_footer .goods_num {
  float: left;
  color: #AAA;
}

#details .details_box .details_c .details_content .img_box .img_footer .fenxiang {
  float: right;
}

#details .details_box .details_c .details_content .img_box .img_footer .fenxiang i {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  background: url("../img/details_img.png") no-repeat 0 -167px;
}

#details .details_box .details_c .details_content .img_box .img_footer .fenxiang i:first-child {
  background-position: 0 -144px;
}

#details .details_box .details_c .details_content .img_box .img_footer .fenxiang a {
  margin-right: 10px;
}

#details .details_box .details_c .details_content .content_box {
  float: right;
  margin-left: 18px;
  width: 490px;
}

#details .details_box .details_c .details_content .content_box h1 {
  line-height: 28px;
  font-size: 16px;
  font-weight: bold;
}

#details .details_box .details_c .details_content .content_box > p {
  color: #e60012;
}

#details .details_box .details_c .details_content .content_box > a {
  display: block;
  line-height: 31px;
  color: #36c;
  text-decoration: underline;
  font-size: 14px;
}

#details .details_box .details_c .details_content .content_box > a:hover {
  color: #e60012;
}

#details .details_box .details_c .details_content .content_box .d_price_box {
  height: 68px;
  line-height: 68px;
  color: #e60012;
  font-size: 22px;
}

#details .details_box .details_c .details_content .content_box .d_price_box .sale_price {
  font-size: 30px;
}

#details .details_box .details_c .details_content .content_box .d_price_box del {
  color: #aaa;
  font-size: 12px;
  margin-left: 10px;
}

#details .details_box .details_c .details_content .content_box .pingfen {
  line-height: 30px;
}

#details .details_box .details_c .details_content .content_box .pingfen span {
  display: inline-block;
}

#details .details_box .details_c .details_content .content_box .pingfen span > i {
  display: inline-block;
  width: 63px;
  height: 13px;
  vertical-align: middle;
  background: url("../img/star_show.png") no-repeat 0 -100px;
}

#details .details_box .details_c .details_content .content_box .pingfen span > a {
  color: #36C;
}

#details .details_box .details_c .details_content .content_box .pingfen span > a:hover {
  color: #e60012;
}

#details .details_box .details_c .details_content .content_box .pingfen .zixun {
  float: right;
}

#details .details_box .details_c .details_content .content_box .pingfen .zixun > i {
  float: left;
  width: 25px;
  height: 25px;
  background: url("../img/details_img.png") no-repeat 0 -180px;
}

#details .details_box .details_c .details_content .content_box .pingfen .zixun > a {
  float: left;
  line-height: 30px;
}

#details .details_box .details_c .details_content .content_box .choose_box {
  margin-top: 5px;
  padding: 22px 0 0 10px;
  background: #f8f8f8;
  position: relative;
}

#details .details_box .details_c .details_content .content_box .choose_box .color_box {
  overflow: hidden;
}

#details .details_box .details_c .details_content .content_box .choose_box .color_box em {
  float: left;
}

#details .details_box .details_c .details_content .content_box .choose_box .color_box span {
  float: left;
  margin-left: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  border: 1px solid #ddd;
}

#details .details_box .details_c .details_content .content_box .choose_box .color_box span:hover {
  border: 1px solid #e60012;
}

#details .details_box .details_c .details_content .content_box .choose_box .color_box span.color_active {
  border: 1px solid #e60012;
}

#details .details_box .details_c .details_content .content_box .choose_box .color_box span img {
  width: 40px;
  height: 40px;
}

#details .details_box .details_c .details_content .content_box .choose_box .size_box {
  overflow: hidden;
  margin-top: 10px;
}

#details .details_box .details_c .details_content .content_box .choose_box .size_box em {
  float: left;
}

#details .details_box .details_c .details_content .content_box .choose_box .size_box span {
  float: left;
  width: 34px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #a7a7a7;
  text-align: center;
  margin-left: 12px;
  margin-bottom: 10px;
  background: #fff;
  cursor: pointer;
}

#details .details_box .details_c .details_content .content_box .choose_box .size_box span:hover {
  border: 1px solid #e60012;
}

#details .details_box .details_c .details_content .content_box .choose_box .size_box span.size_active {
  border: 1px solid #e60012;
}

#details .details_box .details_c .details_content .content_box .choose_box .qty_box {
  overflow: hidden;
  padding: 3px 0;
}

#details .details_box .details_c .details_content .content_box .choose_box .qty_box em {
  float: left;
}

#details .details_box .details_c .details_content .content_box .choose_box .qty_box em.choose_color {
  color: #e60012;
  margin-left: 8px;
  font-weight: bold;
}

#details .details_box .details_c .details_content .content_box .choose_box .qty_box span {
  float: left;
  width: 12px;
  height: 12px;
  line-height: 10px;
  background: #fff;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ddd;
  margin-top: 4px;
}

#details .details_box .details_c .details_content .content_box .choose_box .qty_box span.qty_less {
  margin-left: 12px;
}

#details .details_box .details_c .details_content .content_box .choose_box .qty_box span.qty_more {
  margin-right: 10px;
}

#details .details_box .details_c .details_content .content_box .choose_box .qty_box input {
  float: left;
  width: 27px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #ddd;
  text-align: center;
  margin: 0 5px;
}

#details .details_box .details_c .details_content .content_box .choose_box .btn_box {
  margin-top: 20px;
  padding-bottom: 15px;
}

#details .details_box .details_c .details_content .content_box .choose_box .btn_box button {
  width: 127px;
  height: 37px;
  line-height: 35px;
  text-align: center;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  border: 1px solid #d90d0d;
  cursor: pointer;
  color: #e60012;
}

#details .details_box .details_c .details_content .content_box .choose_box .btn_box button#add_btn {
  background: #e60012;
  color: #fff;
}

#details .details_box .details_c .details_content .content_box .choose_box .erweima_box {
  position: absolute;
  top: 34px;
  right: 15px;
  text-align: center;
}

#details .details_box .details_c .details_content .content_box .choose_box .erweima_box img {
  width: 128px;
  height: 128px;
}

#details .details_box .details_c .details_content .content_box > span {
  display: block;
  color: #999;
  margin: 8px 10px;
}

#details .details_box .details_c .details_content .content_box > span i {
  color: #666;
}

#details .details_box .details_c .details_content .content_box .ser_promise li {
  float: left;
  margin-left: 42px;
  color: #999;
  padding: 10px;
  padding-right: 0;
}

#details .details_box .details_c .details_content .content_box .ser_promise li:first-child {
  margin-left: 0;
}

#details .details_box .details_c .details_content .content_box .ser_promise li i {
  display: inline-block;
  width: 20px;
  height: 22px;
  vertical-align: middle;
  background: url("../img/details_img.png") no-repeat 0 -210px;
}

#details .details_box .details_c .details_content .content_box .ser_promise li a {
  padding-left: 3px;
  color: #999;
}

#details .details_box .details_c .details_content .content_box .ser_promise li a:hover {
  color: #e60012;
}

#details .details_box .details_b .details_tab {
  float: left;
  width: 971px;
  border-bottom: 2px solid #c01;
}

#details .details_box .details_b .details_tab > li {
  float: left;
}

#details .details_box .details_b .details_tab > li p {
  width: 94px;
  height: 31px;
  line-height: 31px;
  border: 1px solid #ccc;
  border-bottom: 0 none;
  margin-left: -1px;
  text-align: center;
  cursor: pointer;
  color: #535353;
  font-size: 14px;
}

#details .details_box .details_b .details_tab > li p.tab_active {
  background: #c01;
  color: #fff;
}

#details .details_box .details_b .xiangqing {
  margin-top: 15px;
  float: left;
  padding-bottom: 20px;
}

#details .details_box .details_b .xiangqing img {
  width: 880px;
}

#details #to_top {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 82%;
  right: 0.1%;
  background: rgba(7, 7, 7, 0.5);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#details #to_top i {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  margin-top: 6px;
}

#details #to_top:hover {
  background: rgba(255, 0, 0, 0.8);
}
