body {
  background: #F8F8F8;
}

#yg {
  background: #F8F8F8;
  padding-bottom: 30px;
}

#yg .banner {
  width: 990px;
  height: 480px;
  position: relative;
  overflow: hidden;
  margin-left: 200px;
}

#yg .banner > ul {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

#yg .banner > ul > li {
  float: left;
}

#yg .banner > ul > li img {
  width: 990px;
  height: 480px;
  display: block;
}

#yg .banner .page {
  position: absolute;
  left: 70%;
  bottom: 0;
  padding: 10px;
  z-index: 2;
}

#yg .banner .page span {
  display: inline-block;
  margin: 0 5px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#yg .banner .page span.active {
  background-color: rgba(255, 0, 0, 0.9);
  color: #fff;
}

#yg .rm_pinpai {
  padding-top: 40px;
}

#yg .rm_pinpai .rm_top {
  border-bottom: 3px #000 solid;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
}

#yg .rm_pinpai .rm_top span {
  font-size: 14px;
  font-weight: normal;
  color: #939598;
  margin-left: 6px;
}

#yg .rm_pinpai .rm_top a {
  float: right;
  font-weight: normal;
  font-size: 17px;
}

#yg .rm_pinpai .rm_b {
  border: 1px #d1d3d4 solid;
  padding: 24px 0 24px 24px;
  background: #fff;
}

#yg .rm_pinpai .rm_b .rm_content li {
  float: left;
  margin-right: 22px;
}

#yg .rm_pinpai .rm_b .rm_content li a {
  display: block;
}

#yg .rm_pinpai .rm_b .rm_content li a img {
  width: 267px;
  height: 321px;
}

#yg .rm_pinpai .rm_b .rm_tab {
  padding-top: 40px;
  position: relative;
}

#yg .rm_pinpai .rm_b .rm_tab .pinpai_show {
  width: 95%;
  margin-left: 15px;
}

#yg .rm_pinpai .rm_b .rm_tab .pinpai_show > ul {
  overflow: hidden;
}

#yg .rm_pinpai .rm_b .rm_tab .pinpai_show > ul li {
  float: left;
}

#yg .rm_pinpai .rm_b .rm_tab .pinpai_show > ul li a {
  display: block;
  width: 110px;
  height: 50px;
  margin-top: 5px;
  text-align: center;
  background: #fff;
}

#yg .rm_pinpai .rm_b .rm_tab .pinpai_show > ul li a img {
  width: 85px;
  height: 40px;
  margin-top: 5px;
}

#yg .rm_pinpai .rm_b .rm_tab > p {
  width: 19px;
  height: 58px;
  position: absolute;
  cursor: pointer;
  background: url("../img/brand_arrow.png") 0 -127px no-repeat;
  top: 70px;
}

#yg .rm_pinpai .rm_b .rm_tab > p.arrw_r {
  background-position: -41px -127px;
  right: 22px;
}

#yg .guan_box {
  background: #F8F8F8;
}

#yg .guan_box .fenlei_guan {
  padding-top: 30px;
}

#yg .guan_box .fenlei_guan .guan_top {
  border-bottom: 3px #000 solid;
  line-height: 32px;
  font-size: 19px;
}

#yg .guan_box .fenlei_guan .guan_top > a {
  font-weight: bold;
  color: #000;
  float: left;
}

#yg .guan_box .fenlei_guan .guan_top > a span {
  font-size: 15px;
  margin-left: 6px;
}

#yg .guan_box .fenlei_guan .guan_top > p {
  width: 116px;
  height: 32px;
  line-height: 34px;
  text-align: center;
  float: right;
  background: #000;
}

#yg .guan_box .fenlei_guan .guan_top > p > a {
  color: #fff;
  font-size: 15px;
}

#yg .guan_box .fenlei_guan .guan_top a:hover {
  color: #C81623;
}

#yg .guan_box .fenlei_guan .guan_top a:hover span {
  color: #000;
}

#yg .guan_box .fenlei_guan .guan_b {
  padding: 22px 24px 22px 12px;
  border: 1px #d1d3d4 solid;
  background: #fff;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs {
  float: left;
  width: 212px;
  padding-right: 12px;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs .pinpai_zs_t {
  margin-bottom: 8px;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs .pinpai_zs_t > a {
  display: inline-block;
  width: 100px;
  height: 67px;
  line-height: 67px;
  background: #000;
  text-align: center;
  color: #fff;
  float: left;
  font-weight: bold;
  font-size: 15px;
  padding-top: 18px;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs .pinpai_zs_t > a > span {
  display: block;
  width: 100px;
  height: 31px;
  line-height: 31px;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs .pinpai_zs_t > a:first-child span {
  border-right: 1px solid #E0E0E0;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs .fenlei_yyt > a {
  width: 66px;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs .fenlei_yyt > a span {
  width: 66px;
  border-right: 1px solid #E0E0E0;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs .fenlei_yyt > a:last-child span {
  border-right: 0 none;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs .pinpai_zs_b > li {
  float: left;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs .pinpai_zs_b > li > a {
  display: block;
  text-align: center;
  width: 100px;
  height: 50px;
  margin-top: 20px;
}

#yg .guan_box .fenlei_guan .guan_b .pinpai_zs .pinpai_zs_b > li > a img {
  width: 85px;
  height: 40px;
  margin-top: 5px;
}

#yg .guan_box .fenlei_guan .guan_b .img_show {
  float: left;
  border: 1px #ddd solid;
}

#yg .guan_box .fenlei_guan .guan_b .img_show a {
  display: block;
}

#yg .guan_box .fenlei_guan .guan_b .img_show a img {
  width: 360px;
  height: 430px;
}

#yg .guan_box .fenlei_guan .guan_b .goods_show {
  float: right;
}

#yg .guan_box .fenlei_guan .guan_b .goods_show > li {
  border-bottom: 2px solid #9B9B9B;
  overflow: hidden;
}

#yg .guan_box .fenlei_guan .guan_b .goods_show > li a {
  display: block;
  float: left;
  text-align: center;
}

#yg .guan_box .fenlei_guan .guan_b .goods_show > li a img {
  width: 186px;
  height: 215px;
  vertical-align: middle;
}

#yg .yg_sale {
  padding-top: 30px;
}

#yg .yg_sale .yg_sale_t {
  border-bottom: 3px #000 solid;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
}

#yg .yg_sale .yg_sale_b {
  padding-bottom: 8px;
  border: 1px #d1d3d4 solid;
  border-top: 0 none;
  background: #fff;
}

#yg .yg_sale .yg_sale_b .sale_tab {
  border-right: 1px #d1d3d4 solid;
  float: left;
  margin-right: 10px;
}

#yg .yg_sale .yg_sale_b .sale_tab > li {
  border-bottom: 1px #d1d3d4 solid;
}

#yg .yg_sale .yg_sale_b .sale_tab > li a {
  display: block;
  width: 212px;
  height: 40px;
  line-height: 38px;
  padding-left: 14px;
  font-size: 14px;
  background: #fff;
}

#yg .yg_sale .yg_sale_b .sale_tab > li a i {
  float: right;
  color: #fff;
  font-size: 24px;
  margin-top: 2px;
}

#yg .yg_sale .yg_sale_b .sale_tab > li a.tab_active {
  background: #000;
  color: #fff;
}

#yg .yg_sale .yg_sale_b .sale_tab > li:hover a {
  background: #000;
  color: #fff;
}

#yg .yg_sale .yg_sale_b .sale_goods {
  float: left;
  padding-top: 20px;
}

#yg .yg_sale .yg_sale_b .sale_goods > ul > li {
  float: left;
  width: 232px;
  margin-right: 7px;
  cursor: pointer;
}

#yg .yg_sale .yg_sale_b .sale_goods > ul > li .img_box {
  border: 1px #ddd solid;
  text-align: center;
}

#yg .yg_sale .yg_sale_b .sale_goods > ul > li .img_box img {
  width: 230px;
  height: 240px;
}

#yg .yg_sale .yg_sale_b .sale_goods > ul > li .img_box p {
  height: 16px;
  line-height: 16px;
  background: #f0a1a1;
  color: #fff;
  padding-left: 6px;
  text-align: left;
}

#yg .yg_sale .yg_sale_b .sale_goods > ul > li .goods_jieshao {
  padding: 5px 0 6px 6px;
}

#yg .yg_sale .yg_sale_b .sale_goods > ul > li .goods_jieshao .goods_title {
  display: block;
  height: 40px;
}

#yg .yg_sale .yg_sale_b .sale_goods > ul > li .goods_jieshao .goods_title:hover {
  color: #e60012;
}

#yg .yg_sale .yg_sale_b .sale_goods > ul > li .goods_jieshao .price_box {
  color: #e60012;
  font-size: 16px;
}

#yg .yg_sale .yg_sale_b .sale_goods > ul > li .goods_jieshao .price_box > del {
  color: #aaa;
  margin-left: 8px;
  font-size: 12px;
}

#yg #to_top {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 82%;
  right: 0.1%;
  background: rgba(7, 7, 7, 0.5);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#yg #to_top i {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  margin-top: 6px;
}

#yg #to_top:hover {
  background: rgba(255, 0, 0, 0.8);
}
