.yg_nav .all_fenlei .fenlei_nav {
  display: none;
}

.yg_nav .all_fenlei:hover .fenlei_nav {
  display: block;
}

#list .filter_box {
  margin-top: 10px;
}

#list .filter_box .filter_box_t {
  margin-bottom: 10px;
}

#list .filter_box .filter_box_t > span, #list .filter_box .filter_box_t a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-bottom: 3px;
  float: left;
}

#list .filter_box .filter_box_t .fenge {
  font-size: 14px;
}

#list .filter_box .filter_box_t .list_fenlei {
  float: left;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

#list .filter_box .filter_box_t .list_fenlei > a {
  border: 1px solid #fff;
  padding: 0 20px 0 10px;
  position: relative;
  z-index: 2;
}

#list .filter_box .filter_box_t .list_fenlei > a i {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
}

#list .filter_box .filter_box_t .list_fenlei > a i.icon_up {
  display: none;
}

#list .filter_box .filter_box_t .list_fenlei > ul {
  display: none;
  width: 107px;
  height: 220px;
  padding: 15px;
  position: absolute;
  top: 19px;
  background: #fff;
  border: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

#list .filter_box .filter_box_t .list_fenlei > ul > li {
  height: 26px;
  line-height: 26px;
}

#list .filter_box .filter_box_t .list_fenlei:hover {
  z-index: 9;
}

#list .filter_box .filter_box_t .list_fenlei:hover > a {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 0 none;
}

#list .filter_box .filter_box_t .list_fenlei:hover > a .icon_up {
  display: block;
}

#list .filter_box .filter_box_t .list_fenlei:hover > a .icon_down {
  display: none;
}

#list .filter_box .filter_box_t .list_fenlei:hover > ul {
  display: block;
}

#list .filter_box .filter_box_b {
  border: 1px solid #e3e3e3;
  border-bottom: 0 none;
}

#list .filter_box .filter_box_b > li {
  height: 34px;
  line-height: 34px;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
  position: relative;
}

#list .filter_box .filter_box_b > li > p {
  width: 98px;
  height: 33px;
  line-height: 33px;
  float: left;
  padding-top: 5px;
  padding-right: 18px;
  text-align: right;
  background: #F6F6F6;
  color: #999;
}

#list .filter_box .filter_box_b > li > ul {
  background: #fff;
  float: left;
  padding: 4px 0 4px 13px;
}

#list .filter_box .filter_box_b > li > ul > li {
  float: left;
  height: 25px;
  line-height: 26px;
  padding-right: 5px;
  text-align: left;
}

#list .filter_box .filter_box_b > li > ul > li a {
  display: inline-block;
  width: 145px;
  padding-left: 13px;
  height: 25px;
  line-height: 26px;
}

#list .filter_box .filter_box_b > li > ul > li a em {
  color: #AAA;
}

#list .filter_box .filter_box_b > li > ul > li a i {
  font-size: 12px;
  font-weight: bold;
}

#list .filter_box .filter_box_b > li > a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  background: #F4F4F4;
  padding: 0 8px 0 20px;
  position: absolute;
  top: 8px;
  right: 63px;
}

#list .filter_box .filter_box_b > li > a i {
  position: absolute;
  font-size: 12px;
  left: 4px;
  font-weight: bold;
}

#list .filter_box .filter_box_b > li > span {
  float: right;
  display: inline-block;
  height: 33px;
  line-height: 33px;
  margin-right: 8px;
  cursor: pointer;
}

#list .filter_box .filter_box_b > li > span i {
  font-size: 12px;
  font-weight: bold;
}

#list .filter_box .filter_box_b > li > span:hover {
  color: #e60012;
}

#list .filter_box .filter_box_b > li:first-child {
  border-bottom-style: solid;
  height: 68px;
  line-height: 68px;
}

#list .filter_box .filter_box_b > li:first-child > p {
  height: 67px;
  line-height: 67px;
}

#list .filter_box .filter_box_b > li:first-child > ul {
  padding: 0 0 0 13px;
}

#list .filter_box .filter_box_b > li:first-child > ul > li {
  height: 68px;
  line-height: 68px;
}

#list .filter_box .filter_box_b > li:first-child > ul > li a {
  width: 86px;
  height: 68px;
  line-height: 68px;
  padding-left: 0;
}

#list .filter_box .filter_box_b > li:first-child > ul > li a img {
  width: 86px;
  height: 40px;
  border-right: 1px #e8e8e8 solid;
}

#list .sort_box {
  margin-top: 10px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #d7d3d4;
  background: #f5f5f5;
  padding: 5px 0;
}

#list .sort_box .list_sort {
  padding-left: 25px;
  float: left;
}

#list .sort_box .list_sort > em {
  padding-right: 10px;
  float: left;
  line-height: 23px;
}

#list .sort_box .list_sort > span {
  display: inline-block;
  width: 50px;
  line-height: 23px;
  float: left;
  margin-right: 8px;
  text-align: center;
  background: #ddd;
  cursor: pointer;
}

#list .sort_box .list_sort > span i {
  font-size: 12px;
  vertical-align: middle;
}

#list .sort_box .list_sort > span:hover {
  color: #e60012;
}

#list .sort_box .list_sort > span.sort_active {
  color: #fff;
  background: #e60012;
}

#list .sort_box .price_choose {
  float: left;
  padding-left: 5px;
  padding-right: 10px;
}

#list .sort_box .price_choose .price_box {
  float: left;
  height: 21px;
  line-height: 21px;
  border: 1px solid #ccc;
  background: #fff;
  margin-right: 2px;
  margin-left: 2px;
  padding-left: 3px;
}

#list .sort_box .price_choose .price_box input[type='text'] {
  width: 30px;
  height: 19px;
  float: left;
  padding-left: 5px;
}

#list .sort_box .price_choose .price_box b {
  float: left;
}

#list .sort_box .price_choose i {
  display: inline-block;
  line-height: 21px;
}

#list .sort_box .list_genre {
  float: left;
  height: 23px;
  line-height: 23px;
  margin-left: 10px;
}

#list .sort_box .list_genre span {
  color: #e60012;
  margin: 0 10px 0 2px;
}

#list .sort_box .fenye_t {
  float: right;
}

#list .sort_box .fenye_t .goods_all {
  float: left;
}

#list .sort_box .fenye_t .goods_all span {
  display: inline-block;
  float: left;
  height: 23px;
  line-height: 23px;
}

#list .sort_box .fenye_t .goods_all span.goods_num {
  color: #e60012;
}

#list .sort_box .fenye_t .goods_all span.page_num {
  padding-left: 25px;
}

#list .sort_box .fenye_t .page_t {
  float: right;
}

#list .sort_box .fenye_t .page_t > a {
  float: left;
  width: 24px;
  height: 23px;
  line-height: 23px;
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
  margin-left: 15px;
}

#list .sort_box .fenye_t .page_t > a i {
  vertical-align: middle;
  font-size: 12px;
}

#list .sort_box .fenye_t .page_t > a:last-child {
  width: 64px;
  padding-left: 5px;
  margin-left: 5px;
  margin-right: 8px;
}

#list .sort_box .fenye_t .page_t > a:last-child i {
  color: #e60012;
}

#list .good_box {
  margin-top: 10px;
  padding-bottom: 40px;
}

#list .good_box > ul > li {
  float: left;
  width: 232px;
  margin-top: 6px;
  margin-right: 6px;
  cursor: pointer;
}

#list .good_box > ul > li .img_box {
  border: 1px #ddd solid;
  text-align: center;
}

#list .good_box > ul > li .img_box img {
  width: 230px;
  height: 240px;
}

#list .good_box > ul > li .img_box p {
  height: 16px;
  line-height: 16px;
  background: #f0a1a1;
  color: #fff;
  padding-left: 6px;
  text-align: left;
}

#list .good_box > ul > li .goods_jieshao {
  padding: 5px 0 6px 6px;
}

#list .good_box > ul > li .goods_jieshao .goods_title {
  display: block;
  height: 40px;
  overflow: hidden;
}

#list .good_box > ul > li .goods_jieshao .goods_title:hover {
  color: #e60012;
}

#list .good_box > ul > li .goods_jieshao .price_box {
  color: #FE4E02;
  font-size: 16px;
}

#list .good_box > ul > li .goods_jieshao .price_box > del {
  color: #aaa;
  margin-left: 8px;
  font-size: 12px;
}

#list .page_box {
  padding-top: 40px;
}

#list .page_box p {
  float: right;
  border: 1px solid #e5e5e5;
  border-right: 0 none;
}

#list .page_box p span {
  display: inline-block;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  background: #efefef;
  float: left;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

#list .page_box p span.page_active {
  background: #e60012;
  color: #fff;
}

#list .list_search {
  width: 460px;
  margin: 45px auto;
  margin-bottom: 15px;
}

#list .list_search input {
  width: 360px;
  line-height: 30px;
  float: left;
  border: 1px solid #ccc;
  padding-left: 10px;
}

#list .list_search .list_search_btn {
  width: 100px;
  float: left;
  line-height: 31px;
  background: #F87032;
  color: #fff;
  cursor: pointer;
}

#list .list_search .list_search_btn i {
  vertical-align: middle;
  font-size: 24px;
}
