.container {
  width: 990px;
}

#pageHeader {
  background: #F4F4F6;
}

#register .h_logo {
  padding: 13px 0;
  border-bottom: 1px solid #dcdbde;
  background: #fff;
}

#register .h_logo h1 {
  float: left;
  padding: 5px 30px 5px 0;
  border-right: 1px solid #e6e6e6;
  margin-right: 30px;
}

#register .h_logo h1 a {
  display: inline-block;
}

#register .h_logo p {
  float: left;
  font-size: 19px;
  line-height: 43px;
}

#register .form_box {
  width: 100%;
  height: 553px;
  background: url("../img/reg_bg.jpg") no-repeat top center;
}

#register .form_box .reg_box {
  float: right;
  z-index: 10;
  margin-top: 12px;
  background: #fff;
  padding: 24px 15px 0 15px;
}

#register .form_box .reg_box .reg_type {
  border-bottom: 1px solid #f3f3f3;
}

#register .form_box .reg_box .reg_type > li {
  float: left;
  background: #333;
}

#register .form_box .reg_box .reg_type > li a {
  display: inline-block;
  width: 123px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
}

#register .form_box .reg_box .reg_type > li:first-child {
  background: #f3f3f3;
  margin-left: 53px;
  margin-right: 5px;
}

#register .form_box .reg_box .reg_type > li:first-child a {
  color: #333;
}

#register .form_box .reg_box .reg_type > li:first-child:hover a {
  color: #e60012;
}

#register .form_box .reg_box .reg_form {
  padding: 30px 18px 38px;
}

#register .form_box .reg_box .reg_form li {
  width: 313px;
  color: #000;
  text-align: left;
  overflow: hidden;
}

#register .form_box .reg_box .reg_form li .reg_content {
  width: 313px;
  border: 1px solid #e3e2e2;
  padding-left: 10px;
  float: left;
}

#register .form_box .reg_box .reg_form li .reg_content label {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  position: relative;
}

#register .form_box .reg_box .reg_form li .reg_content label i {
  display: inline-block;
  font-size: 12px;
  color: #9A9A9A;
  position: absolute;
  top: 0px;
  right: -20px;
}

#register .form_box .reg_box .reg_form li .reg_content input {
  width: 235px;
  height: 36px;
  line-height: 36px;
  float: right;
  font-size: 13px;
  padding-left: 6px;
}

#register .form_box .reg_box .reg_form li .reg_content #reg_pwd {
  width: 255px;
}

#register .form_box .reg_box .reg_form li .reg_error {
  border: 1px solid #e60012;
}

#register .form_box .reg_box .reg_form li > p {
  height: 28px;
  line-height: 28px;
  padding-left: 5px;
  float: left;
}

#register .form_box .reg_box .reg_form li > p.hint_ok {
  color: #84CE17;
}

#register .form_box .reg_box .reg_form li > p.hint_no {
  color: #e60012;
}

#register .form_box .reg_box .reg_form li .reg_code {
  width: 200px;
}

#register .form_box .reg_box .reg_form li .reg_code #reg_code {
  width: 128px;
}

#register .form_box .reg_box .reg_form li span {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  float: right;
  text-align: center;
  cursor: pointer;
}

#register .form_box .reg_box .reg_form li .code_txt {
  width: 90px;
  color: #193CAA;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid #e3e2e2;
  letter-spacing: 5px;
  text-align: center;
}

#register .form_box .reg_box .reg_form li .reg_message {
  width: 235px;
}

#register .form_box .reg_box .reg_form li .reg_message #reg_message {
  width: 155px;
}

#register .form_box .reg_box .reg_form li .message_num {
  width: 73px;
  background: #323232;
  color: #fff;
}

#register .form_box .reg_box .reg_form li .message_num:hover {
  background: #E1373A;
}

#register .form_box .reg_box .reg_form > p {
  width: 313px;
  height: 22px;
  line-height: 22px;
  text-align: center;
}

#register .form_box .reg_box .reg_form > p label {
  padding-left: 6px;
}

#register .form_box .reg_box .reg_form > p a {
  color: #e60012;
}

#register .form_box .reg_box .reg_form #reg_btn {
  width: 309px;
  height: 40px;
  line-height: 40px;
  background: #e1373a;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#register .reg_footer {
  margin-top: 20px;
  color: #AAA;
}

#register .reg_footer > p {
  line-height: 20px;
  text-align: center;
}

#register .reg_footer > p a {
  padding: 0 20px;
  color: #AAA;
}

#register .reg_footer > p a:hover {
  color: #e60012;
}
